@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@font-face {
  font-family: "メイリオ";
  font-style: normal;
  font-weight: 300;
  src: url(../font/meiryo.ttc);
}
@font-face {
  font-family: "Meiryo";
  font-style: normal;
  font-weight: 300;
  src: url(../font/meiryo.ttc);
}
@font-face {
  font-family: "A-OTF-R";
  font-style: normal;
  font-weight: 300;
  src: url(../font/A-OTF-RyuminPro-Regular.otf);
}
@font-face {
  font-family: "A-OTF-M";
  font-style: normal;
  font-weight: 500;
  src: url(../font/A-OTF-RyuminPro-Medium.otf);
}
@font-face {
  font-family: "G-OTF-R";
  font-style: normal;
  font-weight: 300;
  src: url(../font/G-OTF-GRYUMINPRO-REGULAR.OTF);
}
@font-face {
  font-family: "Oswald-R";
  font-style: normal;
  font-weight: 300;
  src: url(../font/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Oswald-M";
  font-style: normal;
  font-weight: 300;
  src: url(../font/Oswald-Medium.ttf);
}
html {
  font-size: 10px;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "メイリオ", "Meiryo", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 500;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 2px;
}

a {
  color: #111111;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 1.8;
}

strong {
  font-weight: bold;
}

img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .sp-only {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .pc-only {
    display: none;
  }
}
.l-container {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-full {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1800 {
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1760 {
  max-width: 1760px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1720 {
  max-width: 1720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1630 {
  max-width: 1630px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1600 {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1550 {
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1520 {
  max-width: 1520px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1500 {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1480 {
  max-width: 1480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1450 {
  max-width: 1450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1430 {
  max-width: 1430px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1380 {
  max-width: 1380px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1370 {
  max-width: 1370px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1360 {
  max-width: 1360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1340 {
  max-width: 1340px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1300 {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1280 {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1200 {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1180 {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1120 {
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1100 {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1000 {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-980 {
  max-width: 980px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-960 {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-920 {
  max-width: 920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-680 {
  max-width: 680px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-590 {
  max-width: 590px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-540 {
  max-width: 540px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-460 {
  max-width: 460px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.l-contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.l-flex {
  display: flex;
  flex-wrap: wrap;
}

.l-wrapper {
  width: 100%;
  overflow: auto;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
}
.bg-img-cover {
  background-size: cover;
}
.bg-img-contain {
  background-size: contain;
}
.bg-img-top {
  background-position: top;
}
.bg-img-bottom {
  background-position: bottom;
}

.img {
  height: 100%;
}
.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.img-top {
  -o-object-position: top center;
     object-position: top center;
}
.img-bottom {
  -o-object-position: bottom center;
     object-position: bottom center;
}

.bg {
  width: 100%;
  min-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}

.parallax__container {
  position: absolute;
  clip: rect(0px, auto, auto, 0px);
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: -10;
}

.parallax {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.parallax-bg {
  min-height: 1000px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.c-box {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.c-box2 {
  padding: 40px;
  border: 1px solid #EEEEEE;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.c-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 1.8;
  align-items: center;
  font-family: "A-OTF-R";
  position: relative;
}
.c-title strong {
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 1.4;
}
.c-title small {
  font-size: 2.4rem;
}
.c-title b {
  color: #8EAC65;
}
.c-title i {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.c-title.title-border-short {
  position: relative;
}
.c-title.title-border-short::after {
  content: "";
  width: 60px;
  height: 1px;
  background: #111111;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.c-title.title-border-short.top {
  padding-top: 20px;
}
.c-title.title-border-short.top::after {
  top: 0;
}
.c-title.title-border-short.bottom {
  padding-bottom: 20px;
}
.c-title.title-border-short.bottom::after {
  bottom: 0;
}
.c-title.title-border-short.border-lg::after {
  height: 2px;
}
.c-title.title-border-short.border-short-sm::after {
  width: 20px;
}
.c-title.title-border-short.border-short-md::after {
  width: 30px;
}
.c-title.title-border-short.border-short-lg::after {
  width: 60px;
}
.c-title.title-border-left {
  padding-left: 20px;
}
.c-title.title-border-left::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #111111;
  position: absolute;
  left: 0;
  top: 0;
}
.c-title.title-border-left.border-sm::after {
  width: 1px;
}
.c-title.title-border-left.border-md::after {
  width: 2px;
}
.c-title.title-border-left.border-lg::after {
  width: 5px;
}
.c-title.title-border-left.h25::after {
  height: 25px;
  top: 8px;
}
.c-title.title-border-left.h35::after {
  height: 35px;
  top: 5px;
}
.c-title.title-border-left.h45::after {
  height: 45px;
}
.c-title.title-border-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}
.c-title.title-border-bottom.border-sm {
  border-width: 1px;
}
.c-title.title-border-bottom.border-md {
  border-width: 2px;
}
.c-title.title-border-bottom.border-lg {
  border-width: 3px;
}
.c-title.title-border-left-right {
  padding-left: 50px;
  padding-right: 50px;
}
.c-title.title-border-left-right::after, .c-title.title-border-left-right::before {
  content: "";
  width: 40px;
  height: 1px;
  background: #111111;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.c-title.title-border-left-right::after {
  left: 0;
}
.c-title.title-border-left-right::before {
  right: 0;
}
.c-title.title-border-left-right.border-sm::after, .c-title.title-border-left-right.border-sm::before {
  height: 1px;
}
.c-title.title-border-left-right.border-md::after, .c-title.title-border-left-right.border-md::before {
  height: 2px;
}
.c-title.title-border-left-right.border-lg::after, .c-title.title-border-left-right.border-lg::before {
  height: 3px;
}
.c-title.title-border-left-right.rotate::after, .c-title.title-border-left-right.rotate::before {
  width: 1px;
  height: 30px;
  bottom: 6px;
}
.c-title.title-border-left-right.rotate::after {
  left: -20px;
  transform: rotate(-45deg);
}
.c-title.title-border-left-right.rotate::before {
  right: -20px;
  transform: rotate(45deg);
}
.c-title.title-border-left-right.rotate.border-sm::after, .c-title.title-border-left-right.rotate.border-sm::before {
  width: 1px;
  height: 30px;
}
.c-title.title-border-left-right.rotate.border-md::after, .c-title.title-border-left-right.rotate.border-md::before {
  width: 2px;
  height: 30px;
}
.c-title.title-border-left-right.rotate.border-lg::after, .c-title.title-border-left-right.rotate.border-lg::before {
  width: 3px;
  height: 30px;
}
.c-title.u-square {
  position: relative;
}
.c-title.u-square::before {
  content: "";
  background: #8EAC65;
  position: absolute;
  left: 0;
}
.c-title.u-square.square-sm {
  padding-left: 20px !important;
}
.c-title.u-square.square-sm::before {
  width: 10px;
  height: 10px;
  top: 20px;
}
.c-title.u-square.square-md {
  padding-left: 25px !important;
}
.c-title.u-square.square-md::before {
  width: 15px;
  height: 15px;
  top: 18px;
}
.c-title.u-square.square-lg {
  padding-left: 30px !important;
}
.c-title.u-square.square-lg::before {
  width: 20px;
  height: 20px;
  top: 14px;
}
.c-title.u-line {
  padding-left: 10px;
  position: relative;
}
.c-title.u-line::before {
  content: "";
  width: 10px;
  height: 1px;
  background: #cccccc;
  position: absolute;
  left: 0;
}
.c-title.u-line.line-sm {
  padding-left: 20px;
}
.c-title.u-line.line-sm::before {
  width: 10px;
}
.c-title.u-line.line-md {
  padding-left: 30px;
}
.c-title.u-line.line-md::before {
  width: 20px;
}
.c-title.u-line.line-lg {
  padding-left: 60px;
}
.c-title.u-line.line-lg::before {
  width: 50px;
}
.c-title.u-line.line-top {
  padding-left: 0;
}
.c-title.u-line.line-top::before {
  top: 0;
}
.c-title.u-line.line-center::before {
  top: 50%;
}
.c-title.u-line.line-bottom::before {
  bottom: 20%;
}
.c-title.u-line.line-right {
  padding-left: 0;
  padding-right: 10px;
}
.c-title.u-line.line-right::before {
  left: unset;
  right: 0;
}
.c-title.u-line.line-right.line-sm {
  padding-right: 20px;
}
.c-title.u-line.line-right.line-md {
  padding-right: 30px;
}
.c-title.u-line.line-right.line-lg {
  padding-right: 60px;
}
.c-title.title-center {
  flex-direction: column;
  text-align: center;
}
.c-title.title-center.border-short::after {
  left: 50%;
  transform: translateX(-50%);
}
.c-title.title-column {
  flex-direction: column;
  align-items: flex-start;
}
.c-title.subtitle {
  align-items: baseline;
}
.c-title.subtitle:not(.flex-column) .c-subtitle {
  margin-left: 10px;
}
.c-title.text10 strong {
  font-size: 1rem;
}
.c-title.text10 small {
  font-size: 0.8rem;
}
.c-title.text12 strong {
  font-size: 1.2rem;
}
.c-title.text12 small {
  font-size: 1rem;
}
.c-title.text13 strong {
  font-size: 1.3rem;
}
.c-title.text13 small {
  font-size: 1rem;
}
.c-title.text14 strong {
  font-size: 1.4rem;
}
.c-title.text14 small {
  font-size: 1rem;
}
.c-title.text15 strong {
  font-size: 1.5rem;
}
.c-title.text15 small {
  font-size: 1rem;
}
.c-title.text16 strong {
  font-size: 1.6rem;
}
.c-title.text16 small {
  font-size: 1rem;
}
.c-title.text18 strong {
  font-size: 1.8rem;
}
.c-title.text18 small {
  font-size: 1rem;
}
.c-title.text20 strong {
  font-size: 2rem;
}
.c-title.text20 small {
  font-size: 1rem;
}
.c-title.text22 strong {
  font-size: 2.2rem;
}
.c-title.text22 small {
  font-size: 1.2rem;
}
.c-title.text24 strong {
  font-size: 2.4rem;
}
.c-title.text24 small {
  font-size: 1.4rem;
}
.c-title.text28 strong {
  font-size: 2.8rem;
}
.c-title.text28 small {
  font-size: 1.8rem;
}
.c-title.text30 strong {
  font-size: 3rem;
}
.c-title.text30 small {
  font-size: 2rem;
}
.c-title.text32 strong {
  font-size: 3.2rem;
}
.c-title.text32 small {
  font-size: 2.2rem;
}
.c-title.text34 strong {
  font-size: 3.4rem;
}
.c-title.text34 small {
  font-size: 2.4rem;
}
.c-title.text36 strong {
  font-size: 3.6rem;
}
.c-title.text36 small {
  font-size: 2.6rem;
}
.c-title.text38 strong {
  font-size: 3.8rem;
}
.c-title.text38 small {
  font-size: 2.8rem;
}
.c-title.text40 strong {
  font-size: 4rem;
}
.c-title.text40 small {
  font-size: 3rem;
}
.c-title.text42 strong {
  font-size: 4.2rem;
}
.c-title.text42 small {
  font-size: 3.2rem;
}
.c-title.text44 strong {
  font-size: 4.4rem;
}
.c-title.text44 small {
  font-size: 3.4rem;
}
.c-title.text46 strong {
  font-size: 4.6rem;
}
.c-title.text46 small {
  font-size: 3.6rem;
}
.c-title.text48 strong {
  font-size: 4.8rem;
}
.c-title.text48 small {
  font-size: 3.8rem;
}
.c-title.text50 strong {
  font-size: 5rem;
}
.c-title.text50 small {
  font-size: 4rem;
}
.c-title.text52 strong {
  font-size: 5.2rem;
}
.c-title.text52 small {
  font-size: 4.2rem;
}
.c-title.text54 strong {
  font-size: 5.4rem;
}
.c-title.text54 small {
  font-size: 4.4rem;
}
.c-title.text58 strong {
  font-size: 5.8rem;
}
.c-title.text58 small {
  font-size: 4.8rem;
}
.c-title.text60 strong {
  font-size: 6rem;
}
.c-title.text60 small {
  font-size: 5rem;
}
.c-title.text64 strong {
  font-size: 6.4rem;
}
.c-title.text64 small {
  font-size: 5.4rem;
}
.c-title.text72 strong {
  font-size: 7.2rem;
}
.c-title.text72 small {
  font-size: 5.2rem;
}
.c-title.text82 strong {
  font-size: 8.2rem;
}
.c-title.text82 small {
  font-size: 6.2rem;
}
.c-title[class*=maxline] {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.c-title.maxline1 {
  -webkit-line-clamp: 1;
}
.c-title.maxline2 {
  -webkit-line-clamp: 2;
}
.c-title.maxline3 {
  -webkit-line-clamp: 3;
}
.c-title.maxline4 {
  -webkit-line-clamp: 4;
}
.c-title.maxline5 {
  -webkit-line-clamp: 5;
}

.c-subtitle {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  font-family: "A-OTF-R";
  color: #cccccc;
}
.c-subtitle.line {
  padding-left: 10px;
  position: relative;
}
.c-subtitle.line::before {
  content: "";
  width: 10px;
  height: 1px;
  background: #cccccc;
  position: absolute;
  left: 0;
}
.c-subtitle.line-sm {
  padding-left: 20px;
}
.c-subtitle.line-sm::before {
  width: 10px;
}
.c-subtitle.line-md {
  padding-left: 30px;
}
.c-subtitle.line-md::before {
  width: 20px;
}
.c-subtitle.line-lg {
  padding-left: 60px;
}
.c-subtitle.line-lg::before {
  width: 50px;
}
.c-subtitle.line-top {
  padding-left: 0;
}
.c-subtitle.line-top::before {
  top: 0;
}
.c-subtitle.line-center::before {
  top: 50%;
}
.c-subtitle.line-bottom::before {
  bottom: 20%;
}
.c-subtitle.line-right {
  padding-left: 0;
  padding-right: 10px;
}
.c-subtitle.line-right::before {
  left: unset;
  right: 0;
}
.c-subtitle.line-right.line-sm {
  padding-right: 20px;
}
.c-subtitle.line-right.line-md {
  padding-right: 30px;
}
.c-subtitle.line-right.line-lg {
  padding-right: 60px;
}

.u-circle {
  position: relative;
}
.u-circle::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background: #8EAC65;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.u-circle.circle-sm::after {
  content: "";
  width: 4px;
  height: 4px;
}
.u-circle.circle-md::after {
  content: "";
  width: 5px;
  height: 5px;
}
.u-circle.circle-lg::after {
  content: "";
  width: 10px;
  height: 10px;
}

.u-highlight {
  padding-bottom: 5px;
  background-image: linear-gradient(#8EAC65, #8EAC65);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}
.u-highlight.highlight-sm {
  background-size: 100% 1px;
}
.u-highlight.highlight-md {
  background-size: 100% 3px;
}
.u-highlight.highlight-lg {
  background-size: 100% 6px;
}
.u-highlight.spill {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.l-titles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.c-description {
  width: 100%;
  line-height: 1.8;
}
.c-description p {
  line-height: 1.8;
}
.c-description p:last-child {
  margin-bottom: 0;
}

.c-blockquote {
  line-height: 1.8;
  font-family: "A-OTF-R";
}
.c-blockquote p {
  line-height: 1.8;
}
.c-blockquote p:last-child {
  margin-bottom: 0;
}
.c-blockquote footer {
  margin-top: 10px;
}
.c-blockquote.blockquote-bg {
  padding: 20px;
  background: #f8f9fa;
}

.c-button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4;
  transition: 0.5s;
}
.c-button img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  transition: 0.5s;
}
.c-button i {
  width: 20px;
  height: 24px;
  margin-right: 10px;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.c-button span {
  line-height: 1.4;
  margin-top: 4px;
}
.c-button.max-width {
  max-width: 260px;
}
.c-button.button-black {
  background: #111111;
  color: white;
}
.c-button.button-black:not(.opacity):hover {
  border: 1px solid;
  background: transparent;
  color: #111111;
}
.c-button.button-blue {
  background: #065B8E;
  color: white;
}
.c-button.button-blue:not(.opacity):hover {
  border: 1px solid;
  background: transparent;
  color: #065B8E;
}
.c-button.button-green {
  background: #8EAC65;
  color: white;
}
.c-button.button-green:not(.opacity):hover {
  border: 1px solid;
  background: transparent;
  color: #8EAC65;
}
.c-button.button-orange {
  background: #FC7316;
  color: white;
}
.c-button.button-orange:not(.opacity):hover {
  border: 1px solid;
  background: transparent;
  color: #FC7316;
}
.c-button.button-yellow {
  background: #FFCD20;
  color: white;
}
.c-button.button-yellow:not(.opacity):hover {
  border: 1px solid;
  background: transparent;
  color: #FFCD20;
}
.c-button.button-red {
  background: #D90000;
  color: white;
}
.c-button.button-red:not(.opacity):hover {
  border: 1px solid;
  background: transparent;
  color: #D90000;
}
.c-button.button-white {
  background: white;
  color: #111111;
}
.c-button.button-white:not(.opacity):hover {
  background: #111111;
  color: white;
}
.c-button.button-outline {
  border: 2px solid;
  background: white;
}
.c-button.button-outline.button-black {
  color: #111111;
}
.c-button.button-outline.button-blue {
  color: #065B8E;
}
.c-button.button-outline.button-green {
  color: #8EAC65;
}
.c-button.button-outline.button-orange {
  color: #FC7316;
}
.c-button.button-outline.button-yellow {
  color: #FFCD20;
}
.c-button.button-outline.button-red {
  color: #D90000;
}
.c-button.button-outline.button-white {
  color: #111111;
}
.c-button.button-outline:not(.opacity):hover {
  background: white;
  color: #065B8E;
}
.c-button.button-outline:not(.opacity):hover.button-black {
  border-color: #8EAC65;
  background: #8EAC65;
  color: white;
}
.c-button.button-outline:not(.opacity):hover.button-blue {
  border-color: #065B8E;
  background: #065B8E;
  color: white;
}
.c-button.button-outline:not(.opacity):hover.button-green {
  border-color: #8EAC65;
  background: #8EAC65;
  color: white;
}
.c-button.button-outline:not(.opacity):hover.button-orange {
  border-color: #FC7316;
  background: #FC7316;
  color: white;
}
.c-button.button-outline:not(.opacity):hover.button-yellow {
  border-color: #FFCD20;
  background: #FFCD20;
  color: white;
}
.c-button.button-outline:not(.opacity):hover.button-red {
  border-color: #D90000;
  background: #D90000;
  color: white;
}
.c-button.button-outline:not(.opacity):hover.button-white {
  border-color: #111111;
  background: #111111;
  color: white;
}
.c-button.opacity:hover {
  opacity: 0.5;
}
.c-button.border-bottom {
  border-bottom: 1px solid #cccccc;
}
.c-button.border-bottom i {
  width: 12px;
  height: 20px;
  margin-right: 14px;
}
.c-button.border-bottom:not(.opacity):hover {
  color: #065B8E;
  border-color: #065B8E;
}
.c-button:not(.opacity):hover .c-icon.ic-arrow-right-black-2 {
  background-image: url("../img/common/ic-arrow-right-blue.svg");
}
.c-button:not(.opacity):hover .c-icon.ic-arrow-circle-blue-2 {
  background-image: url("../img/common/ic-arrow-circle-2.svg");
}
.c-button:not(.opacity):hover .c-icon.ic-cursor {
  background-image: url("../img/common/ic-cursor-green.svg");
}
.c-button:not(.opacity):hover .c-icon.ic-cursor-green {
  background-image: url("../img/common/ic-cursor.svg");
}
.c-button:not(.opacity):hover .c-icon.ic-cart-orange {
  background-image: url("../img/common/ic-cart.svg");
}

.c-gr-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.c-gr-button.gr-button-full {
  width: 100%;
}
.c-gr-button.gr-button-auto {
  width: -moz-max-content;
  width: max-content;
}
.c-gr-button .c-button {
  min-width: 260px;
  flex: 1;
}
.c-gr-button .c-button:not(:last-child) {
  margin-right: 20px;
}

.c-showmore {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  line-height: 1.8;
  position: relative;
  transition: 0.5s;
}
.c-showmore.icon-left {
  padding-left: 35px;
}
.c-showmore.icon-left::before {
  content: "";
  width: 22px;
  height: 22px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/common/ic-arrow-circle-black.svg");
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.5s;
}
.c-showmore.icon-right {
  align-items: center;
}
.c-showmore.icon-right i {
  width: 38px;
  height: 8px;
  margin-left: 12px;
  transition: 0.5s;
}
.c-showmore.opacity:hover {
  opacity: 0.5;
}
.c-showmore:not(.opacity):hover .c-icon.ic-arrowlong-right-blue {
  background-image: url("../img/common/ic-arrowlong-right-black.svg");
}
.c-showmore:not(.opacity):hover.showmore-animation .c-icon {
  animation: arrow_hover 1s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite;
}

@keyframes arrow_hover {
  0% {
    transform: translate(10px);
  }
  to {
    transform: translate(0);
  }
}
.c-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.c-table th,
.c-table td {
  height: 80px;
  padding: 16px 5px;
  font-size: 1.5rem;
  vertical-align: middle;
}
.c-table th span,
.c-table td span {
  font-size: 1.3rem;
}
.c-table thead th,
.c-table tbody th {
  font-weight: bold;
}
.c-table.height93 th,
.c-table.height93 td {
  height: 93px;
}
.c-table.height0 th,
.c-table.height0 td {
  height: auto;
}
.c-table.th-max-width th {
  width: 200px;
  max-width: 200px;
}
.c-table.th-left th {
  text-align: left;
}
.c-table.td-center td {
  text-align: center;
}
.c-table.th-white th {
  background: white;
}
.c-table.th-gray th {
  background: rgba(238, 238, 238, 0.5);
}
.c-table.th-blue th {
  background: rgba(3, 77, 143, 0.1);
}
.c-table.th-clblue th {
  color: #065B8E;
}
.c-table.td-max-width td {
  width: 330px;
  max-width: 330px;
}
.c-table.td-gray td {
  background: rgba(238, 238, 238, 0.5);
}
.c-table.td-clgray td {
  color: #707070;
}
.c-table.thead-green thead th {
  background: #8EAC65;
  color: white;
}
.c-table.tbody-even-gray tr:nth-child(even) td {
  background: rgba(238, 238, 238, 0.5);
}
.c-table.tbody-even-gray20 tr:nth-child(even) td {
  background: rgba(238, 238, 238, 0.2);
}
.c-table.boder {
  border: 1px solid #707070;
}
.c-table.boder th,
.c-table.boder td {
  border: 1px solid #707070;
}
.c-table.boder-bottom th,
.c-table.boder-bottom td {
  position: relative;
}
.c-table.boder-bottom th::before,
.c-table.boder-bottom td::before {
  content: "";
  width: calc(100% - 20px);
  left: 50%;
  height: 1px;
  background: #111111;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
}
.c-table.boder-bottom th::before {
  background: #065B8E;
}
.c-table.thead-box thead th {
  padding-bottom: 48px;
  background: 0 0;
  color: white;
}
.c-table.thead-box thead th::before {
  height: calc(100% - 34px);
  border-radius: 3px;
  background: #065B8E;
  top: 0;
  bottom: unset;
  z-index: -1;
}
.c-table .u-min-width {
  min-width: 120px;
}
.c-table .u-max-width {
  max-width: 120px;
}

ul li {
  line-height: 1.8;
  position: relative;
}
ul.u-attention li {
  padding-left: 20px;
}
ul.u-attention li:not(:last-child) {
  margin-bottom: 10px;
}
ul.u-attention li::before {
  content: "※";
  position: absolute;
  left: 0;
}
ul.u-disc li {
  padding-left: 15px;
}
ul.u-disc li:not(:last-child) {
  margin-bottom: 10px;
}
ul.u-disc li::before {
  content: "・";
  position: absolute;
  left: 0;
}
ul.u-number {
  padding-left: 30px;
}
ul.u-number li {
  list-style: decimal;
}
ul.u-number.number-zero {
  padding-left: 40px;
}
ul.u-number.number-zero li {
  list-style-type: decimal-leading-zero;
}

.c-counters {
  counter-reset: section;
}
.c-counters .counter:not(.counter-right)::before {
  counter-increment: section;
  content: counter(section);
}
.c-counters .counter.counter-right::after {
  counter-increment: section;
  content: counter(section);
}
.c-counters.counter-zero .counter:not(.counter-right)::before {
  content: counter(section, decimal-leading-zero);
}
.c-counters.counter-zero .counter.counter-right::after {
  content: counter(section, decimal-leading-zero);
}

.c-dl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-dl dt, .c-dl dd {
  padding: 20px 20px;
  font-size: 1.5rem;
  line-height: 1.8;
}
.c-dl dt {
  width: 200px;
  max-width: 200px;
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  text-align: center;
}
.c-dl dd {
  width: calc(100% - 200px);
  border-bottom: 1px solid #cccccc;
  word-break: break-all;
}
.c-dl.space10 dd {
  width: calc(100% - 210px);
}
.c-dl.dl-black dt {
  border-color: #111111;
}
.c-dl.dl-gray dt {
  border-color: #707070;
}
.c-dl.dl-blue dt {
  border-color: #065B8E;
}
.c-dl.dl-green dt {
  border-color: #8EAC65;
}
.c-dl.dl-full dt,
.c-dl.dl-full dd {
  width: 100%;
  max-width: 100%;
}
.c-dl.dl-full dt {
  text-align: left;
}
.c-dl.dl-full dd {
  border-bottom: 0;
}
.c-dl .c-button {
  width: 94px;
  min-height: 54px;
  padding: 12px 10px;
}
.c-dl .c-button i {
  width: 12px;
  height: 16px;
}
.c-dl .c-button span {
  margin-top: 0;
  font-size: 1.6rem;
}

.c-collapsible {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.c-collapsible > .header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.c-collapsible > .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.c-collapsible:not(.unhide) > .content {
  display: none;
}
.c-collapsible.show > .content {
  display: flex;
}
.c-collapsible:not(:last-child) {
  margin-bottom: 100px;
}

.c-icon {
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.c-icon.icon-sm {
  width: 15px;
  height: 15px;
}
.c-icon.icon-md {
  width: 20px;
  height: 20px;
}
.c-icon.icon-lg {
  width: 30px;
  height: 30px;
}
.c-icon.ic-arrow-circle {
  background-image: url("../img/common/ic-arrow-circle.svg");
}
.c-icon.ic-arrow-circle-black {
  background-image: url("../img/common/ic-arrow-circle-black.svg");
}
.c-icon.ic-arrow-circle-2 {
  background-image: url("../img/common/ic-arrow-circle-2.svg");
}
.c-icon.ic-arrow-circle-black-2 {
  background-image: url("../img/common/ic-arrow-circle-black-2.svg");
}
.c-icon.ic-arrow-circle-blue-2 {
  background-image: url("../img/common/ic-arrow-circle-blue-2.svg");
}
.c-icon.ic-arrow-left-black {
  background-image: url("../img/common/ic-arrow-left-black.svg");
}
.c-icon.ic-arrow-right-black {
  background-image: url("../img/common/ic-arrow-right-black.svg");
}
.c-icon.ic-arrow-right-black-2 {
  background-image: url("../img/common/ic-arrow-right-black-2.svg");
}
.c-icon.ic-arrow-right-blue-2 {
  background-image: url("../img/common/ic-arrow-right-blue.svg");
}
.c-icon.ic-arrowlong-right {
  background-image: url("../img/common/ic-arrowlong-right.svg");
}
.c-icon.ic-arrowlong-right-black {
  background-image: url("../img/common/ic-arrowlong-right-black.svg");
}
.c-icon.ic-arrowlong-right-gray {
  background-image: url("../img/common/ic-arrowlong-right-gray.svg");
}
.c-icon.ic-arrowlong-right-blue {
  background-image: url("../img/common/ic-arrowlong-right-blue.svg");
}
.c-icon.ic-arrowlong-right-blue-2 {
  background-image: url("../img/common/ic-arrowlong-right-blue-2.svg");
}
.c-icon.ic-arrowshort-right {
  background-image: url("../img/common/ic-arrowshort-right.svg");
}
.c-icon.ic-arrow-down {
  background-image: url("../img/common/ic-arrow-down.svg");
}
.c-icon.ic-btn-prev {
  background-image: url("../img/common/ic-btn-prev.svg");
}
.c-icon.ic-btn-next {
  background-image: url("../img/common/ic-btn-next.svg");
}
.c-icon.ic-btn-prev-2 {
  background-image: url("../img/common/ic-btn-prev-2.svg");
}
.c-icon.ic-btn-next-2 {
  background-image: url("../img/common/ic-btn-next-2.svg");
}
.c-icon.ic-btn-prev-3 {
  background-image: url("../img/common/ic-btn-prev-3.svg");
}
.c-icon.ic-btn-next-3 {
  background-image: url("../img/common/ic-btn-next-3.svg");
}
.c-icon.ic-phone {
  background-image: url("../img/common/ic-phone.svg");
}
.c-icon.ic-phone-green {
  background-image: url("../img/common/ic-phone-green.svg");
}
.c-icon.ic-email {
  background-image: url("../img/common/ic-email.svg");
}
.c-icon.ic-email-blue {
  background-image: url("../img/common/ic-email-blue.svg");
}
.c-icon.ic-map {
  background-image: url("../img/common/ic-map.svg");
}
.c-icon.ic-map-green {
  background-image: url("../img/common/ic-map-green.svg");
}
.c-icon.ic-cursor {
  background-image: url("../img/common/ic-cursor.svg");
}
.c-icon.ic-cursor-black {
  background-image: url("../img/common/ic-cursor-black.svg");
}
.c-icon.ic-cursor-blue {
  background-image: url("../img/common/ic-cursor-blue.svg");
}
.c-icon.ic-cursor-green {
  background-image: url("../img/common/ic-cursor-green.svg");
}
.c-icon.ic-info-circle-black {
  background-image: url("../img/common/ic-info-circle.svg");
}
.c-icon.ic-cart {
  background-image: url("../img/common/ic-cart.svg");
}
.c-icon.ic-cart-orange {
  background-image: url("../img/common/ic-cart-orange.svg");
}
.c-icon.ic-file {
  background-image: url("../img/common/ic-file.svg");
}
.c-icon.ic-print {
  background-image: url("../img/common/ic-print.svg");
}
.c-icon.ic-printer {
  background-image: url("../img/common/ic-printer.svg");
}
.c-icon.ic-time {
  background-image: url("../img/common/ic-time.svg");
}
.c-icon.ic-car {
  background-image: url("../img/common/ic-car.svg");
}
.c-icon.ic-driver {
  background-image: url("../img/common/ic-driver.svg");
}
.c-icon.ic-money {
  background-image: url("../img/common/ic-money.svg");
}
.c-icon.ic-user {
  background-image: url("../img/common/ic-user.svg");
}
.c-icon.ic-facebook {
  background-image: url("../img/common/ic-facebook.svg");
}
.c-icon.ic-instagram {
  background-image: url("../img/common/ic-instagram3.svg");
}
.c-icon.ic-instagram {
  background-image: url("../img/common/ic-instagram.svg");
}
.c-icon.ic-instagram-black {
  background-image: url("../img/common/ic-instagram-black.svg");
}
.c-icon.ic-instagram-blue {
  background-image: url("../img/common/ic-instagram-blue.svg");
}
.c-icon.ic-instagram-green {
  background-image: url("../img/common/ic-instagram-green.svg");
}
.c-icon.ic-twitter {
  background-image: url("../img/common/ic-twitter.svg");
}
.c-icon.ic-youtube {
  background-image: url("../img/common/ic-youtube.svg");
}
.c-icon.ic-logo {
  background-image: url("../img/common/logo.svg");
}

@media screen and (max-width: 991px) {
  [class*=l-container] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .c-title.text10tb strong {
    font-size: 1rem;
  }
  .c-title.text10tb small {
    font-size: 0.8rem;
  }
  .c-title.text12tb strong {
    font-size: 1.2rem;
  }
  .c-title.text12tb small {
    font-size: 1rem;
  }
  .c-title.text13tb strong {
    font-size: 1.3rem;
  }
  .c-title.text13tb small {
    font-size: 1rem;
  }
  .c-title.text14tb strong {
    font-size: 1.4rem;
  }
  .c-title.text14tb small {
    font-size: 1rem;
  }
  .c-title.text15tb strong {
    font-size: 1.5rem;
  }
  .c-title.text15tb small {
    font-size: 1rem;
  }
  .c-title.text16tb strong {
    font-size: 1.6rem;
  }
  .c-title.text16tb small {
    font-size: 1rem;
  }
  .c-title.text18tb strong {
    font-size: 1.8rem;
  }
  .c-title.text18tb small {
    font-size: 1rem;
  }
  .c-title.text20tb strong {
    font-size: 2rem;
  }
  .c-title.text20tb small {
    font-size: 1rem;
  }
  .c-title.text22tb strong {
    font-size: 2.2rem;
  }
  .c-title.text22tb small {
    font-size: 1.2rem;
  }
  .c-title.text24tb strong {
    font-size: 2.4rem;
  }
  .c-title.text24tb small {
    font-size: 1.4rem;
  }
  .c-title.text26tb strong {
    font-size: 2.6rem;
  }
  .c-title.text26tb small {
    font-size: 1.6rem;
  }
  .c-title.text28tb strong {
    font-size: 2.8rem;
  }
  .c-title.text28tb small {
    font-size: 1.8rem;
  }
  .c-title.text30tb strong {
    font-size: 3rem;
  }
  .c-title.text30tb small {
    font-size: 2rem;
  }
  .c-title.text32tb strong {
    font-size: 3.2rem;
  }
  .c-title.text32tb small {
    font-size: 2.2rem;
  }
  .c-title.text34tb strong {
    font-size: 3.4rem;
  }
  .c-title.text34tb small {
    font-size: 2.4rem;
  }
  .c-title.text36tb strong {
    font-size: 3.6rem;
  }
  .c-title.text36tb small {
    font-size: 2.6rem;
  }
  .c-title.text38tb strong {
    font-size: 3.8rem;
  }
  .c-title.text38tb small {
    font-size: 2.8rem;
  }
  .c-title.text40tb strong {
    font-size: 4rem;
  }
  .c-title.text40tb small {
    font-size: 3rem;
  }
  .c-title.text42tb strong {
    font-size: 4.2rem;
  }
  .c-title.text42tb small {
    font-size: 3.2rem;
  }
  .c-title.text44tb strong {
    font-size: 4.4rem;
  }
  .c-title.text44tb small {
    font-size: 3.4rem;
  }
  .c-title.text46tb strong {
    font-size: 4.6rem;
  }
  .c-title.text46tb small {
    font-size: 3.6rem;
  }
  .c-title.text48tb strong {
    font-size: 4.8rem;
  }
  .c-title.text48tb small {
    font-size: 3.8rem;
  }
  .c-title.text50tb strong {
    font-size: 5rem;
  }
  .c-title.text50tb small {
    font-size: 4rem;
  }
  .c-title.text52tb strong {
    font-size: 5.2rem;
  }
  .c-title.text52tb small {
    font-size: 4.2rem;
  }
  .c-title.text54tb strong {
    font-size: 5.4rem;
  }
  .c-title.text54tb small {
    font-size: 4.4rem;
  }
  .c-title.text58tb strong {
    font-size: 5.8rem;
  }
  .c-title.text58tb small {
    font-size: 4.8rem;
  }
  .c-title.text60tb strong {
    font-size: 6rem;
  }
  .c-title.text60tb small {
    font-size: 5rem;
  }
  .c-title.text64tb strong {
    font-size: 6.4rem;
  }
  .c-title.text64tb small {
    font-size: 5.4rem;
  }
  .u-highlight.spill::after {
    left: -10px;
    width: calc(100% + 20px);
  }
  .c-button {
    min-height: 64px;
  }
  .c-dl dt {
    width: 30%;
    max-width: unset;
  }
  .c-dl dd {
    width: calc(100% - (30% + 10px));
  }
  .c-description {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 768px) {
  .l-wrapper table {
    width: 680px;
  }
  .c-title strong {
    font-size: 2.4rem;
  }
  .c-title small {
    font-size: 1.4rem;
  }
  .c-title i {
    width: 15px;
    height: 15px;
  }
  .c-title.title-border-short::after {
    width: 40px;
  }
  .c-title.title-border-left.h25::after {
    top: 5px;
  }
  .c-title.title-border-left.h35::after {
    height: 32px;
    top: 0;
  }
  .c-title.title-border-left.h45::after {
    height: 32px;
  }
  .c-title.title-border-bottom {
    padding-bottom: 15px;
  }
  .c-title.title-border-left-right {
    padding-right: 40px;
    padding-left: 40px;
  }
  .c-title.title-border-left-right::after, .c-title.title-border-left-right::before {
    width: 30px;
  }
  .c-title.title-border-left-right.rotate {
    padding-right: 20px;
    padding-left: 20px;
  }
  .c-title.title-border-left-right.rotate.border-lg::after, .c-title.title-border-left-right.rotate.border-lg::before {
    height: 20px;
  }
  .c-title.u-square.square-lg {
    padding-left: 20px !important;
  }
  .c-title.u-square.square-lg::before {
    width: 10px;
    height: 10px;
    top: 12px;
  }
  .c-title.u-line.line-lg {
    padding-left: 40px;
  }
  .c-title.u-line.line-lg::before {
    width: 30px;
  }
  .c-title.u-line.line-top {
    padding-left: 0;
  }
  .c-title.text10sp strong {
    font-size: 1rem;
  }
  .c-title.text10sp small {
    font-size: 0.8rem;
  }
  .c-title.text12sp strong {
    font-size: 1.2rem;
  }
  .c-title.text12sp small {
    font-size: 1rem;
  }
  .c-title.text13sp strong {
    font-size: 1.3rem;
  }
  .c-title.text13sp small {
    font-size: 1rem;
  }
  .c-title.text14sp strong {
    font-size: 1.4rem;
  }
  .c-title.text14sp small {
    font-size: 1rem;
  }
  .c-title.text15sp strong {
    font-size: 1.5rem;
  }
  .c-title.text15sp small {
    font-size: 1rem;
  }
  .c-title.text16sp strong {
    font-size: 1.6rem;
  }
  .c-title.text16sp small {
    font-size: 1rem;
  }
  .c-title.text18sp strong {
    font-size: 1.8rem;
  }
  .c-title.text18sp small {
    font-size: 1rem;
  }
  .c-title.text20sp strong {
    font-size: 2rem;
  }
  .c-title.text20sp small {
    font-size: 1rem;
  }
  .c-title.text22sp strong {
    font-size: 2.2rem;
  }
  .c-title.text22sp small {
    font-size: 1.2rem;
  }
  .c-title.text24sp strong {
    font-size: 2.4rem;
  }
  .c-title.text24sp small {
    font-size: 1.4rem;
  }
  .c-title.text26sp strong {
    font-size: 2.6rem;
  }
  .c-title.text26sp small {
    font-size: 1.6rem;
  }
  .c-title.text28sp strong {
    font-size: 2.8rem;
  }
  .c-title.text28sp small {
    font-size: 1.8rem;
  }
  .c-title.text30sp strong {
    font-size: 3rem;
  }
  .c-title.text30sp small {
    font-size: 2rem;
  }
  .c-title.text32sp strong {
    font-size: 3.2rem;
  }
  .c-title.text32sp small {
    font-size: 2.2rem;
  }
  .c-title.text34sp strong {
    font-size: 3.4rem;
  }
  .c-title.text34sp small {
    font-size: 2.4rem;
  }
  .c-title.text36sp strong {
    font-size: 3.6rem;
  }
  .c-title.text36sp small {
    font-size: 2.6rem;
  }
  .c-title.text38sp strong {
    font-size: 3.8rem;
  }
  .c-title.text38sp small {
    font-size: 2.8rem;
  }
  .c-title.text40sp strong {
    font-size: 4rem;
  }
  .c-title.text40sp small {
    font-size: 3rem;
  }
  .c-title.text42sp strong {
    font-size: 4.2rem;
  }
  .c-title.text42sp small {
    font-size: 3.2rem;
  }
  .c-title.text44sp strong {
    font-size: 4.4rem;
  }
  .c-title.text44sp small {
    font-size: 3.4rem;
  }
  .c-title.text46sp strong {
    font-size: 4.6rem;
  }
  .c-title.text46sp small {
    font-size: 3.6rem;
  }
  .c-title.text48sp strong {
    font-size: 4.8rem;
  }
  .c-title.text48sp small {
    font-size: 3.8rem;
  }
  .c-title.text50sp strong {
    font-size: 5rem;
  }
  .c-title.text50sp small {
    font-size: 4rem;
  }
  .c-title.text52sp strong {
    font-size: 5.2rem;
  }
  .c-title.text52sp small {
    font-size: 4.2rem;
  }
  .c-title.text54sp strong {
    font-size: 5.4rem;
  }
  .c-title.text54sp small {
    font-size: 4.4rem;
  }
  .c-title.text58sp strong {
    font-size: 5.8rem;
  }
  .c-title.text58sp small {
    font-size: 4.8rem;
  }
  .c-title.text60sp strong {
    font-size: 6rem;
  }
  .c-title.text60sp small {
    font-size: 5rem;
  }
  .c-title.text64sp strong {
    font-size: 6.4rem;
  }
  .c-title.text64sp small {
    font-size: 5.4rem;
  }
  .u-highlight.spill::after {
    left: -5px;
    width: calc(100% + 10px);
  }
  .c-blockquote.blockquote-bg {
    padding: 10px;
  }
  .c-button {
    min-height: 54px;
    font-size: 1.4rem;
  }
  .c-button i {
    width: 20px;
    height: 20px;
  }
  .c-button.max-width {
    width: 100%;
  }
  .c-gr-button {
    width: 100%;
  }
  .c-gr-button:not([class*=justify-content-]) {
    flex-direction: column;
  }
  .c-gr-button .c-button {
    min-width: 100%;
  }
  .c-gr-button .c-button:not(:last-child) {
    margin-bottom: 20px;
  }
  .c-showmore {
    font-size: 1.4rem;
  }
  .c-showmore.icon-left {
    padding-left: 30px;
  }
  .c-showmore.icon-left::before {
    width: 20px;
    height: 20px;
  }
  .c-showmore.icon-right i {
    margin-left: 10px;
  }
  .c-dl dt,
  .c-dl dd {
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-collapsible:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 580px) {
  .c-title.text10xs strong {
    font-size: 1rem;
  }
  .c-title.text10xs small {
    font-size: 0.8rem;
  }
  .c-title.text12xs strong {
    font-size: 1.2rem;
  }
  .c-title.text12xs small {
    font-size: 1rem;
  }
  .c-title.text13xs strong {
    font-size: 1.3rem;
  }
  .c-title.text13xs small {
    font-size: 1rem;
  }
  .c-title.text14xs strong {
    font-size: 1.4rem;
  }
  .c-title.text14xs small {
    font-size: 1rem;
  }
  .c-title.text15xs strong {
    font-size: 1.5rem;
  }
  .c-title.text15xs small {
    font-size: 1rem;
  }
  .c-title.text16xs strong {
    font-size: 1.6rem;
  }
  .c-title.text16xs small {
    font-size: 1rem;
  }
  .c-title.text18xs strong {
    font-size: 1.8rem;
  }
  .c-title.text18xs small {
    font-size: 1rem;
  }
  .c-title.text20xs strong {
    font-size: 2rem;
  }
  .c-title.text20xs small {
    font-size: 1rem;
  }
  .c-title.text22xs strong {
    font-size: 2.2rem;
  }
  .c-title.text22xs small {
    font-size: 1.2rem;
  }
  .c-title.text24xs strong {
    font-size: 2.4rem;
  }
  .c-title.text24xs small {
    font-size: 1.4rem;
  }
  .c-title.text26xs strong {
    font-size: 2.6rem;
  }
  .c-title.text26xs small {
    font-size: 1.6rem;
  }
  .c-title.text28xs strong {
    font-size: 2.8rem;
  }
  .c-title.text28xs small {
    font-size: 1.8rem;
  }
  .c-title.text30xs strong {
    font-size: 3rem;
  }
  .c-title.text30xs small {
    font-size: 2rem;
  }
  .c-title.text32xs strong {
    font-size: 3.2rem;
  }
  .c-title.text32xs small {
    font-size: 2.2rem;
  }
  .c-title.text34xs strong {
    font-size: 3.4rem;
  }
  .c-title.text34xs small {
    font-size: 2.4rem;
  }
  .c-title.text36xs strong {
    font-size: 3.6rem;
  }
  .c-title.text36xs small {
    font-size: 2.6rem;
  }
  .c-title.text38xs strong {
    font-size: 3.8rem;
  }
  .c-title.text38xs small {
    font-size: 2.8rem;
  }
  .c-title.text40xs strong {
    font-size: 4rem;
  }
  .c-title.text40xs small {
    font-size: 3rem;
  }
  .c-title.text42xs strong {
    font-size: 4.2rem;
  }
  .c-title.text42xs small {
    font-size: 3.2rem;
  }
  .c-title.text44xs strong {
    font-size: 4.4rem;
  }
  .c-title.text44xs small {
    font-size: 3.4rem;
  }
  .c-title.text46xs strong {
    font-size: 4.6rem;
  }
  .c-title.text46xs small {
    font-size: 3.6rem;
  }
  .c-title.text48xs strong {
    font-size: 4.8rem;
  }
  .c-title.text48xs small {
    font-size: 3.8rem;
  }
  .c-title.text50xs strong {
    font-size: 5rem;
  }
  .c-title.text50xs small {
    font-size: 4rem;
  }
  .c-title.text52xs strong {
    font-size: 5.2rem;
  }
  .c-title.text52xs small {
    font-size: 4.2rem;
  }
  .c-title.text54xs strong {
    font-size: 5.4rem;
  }
  .c-title.text54xs small {
    font-size: 4.4rem;
  }
  .c-title.text58xs strong {
    font-size: 5.8rem;
  }
  .c-title.text58xs small {
    font-size: 4.8rem;
  }
  .c-title.text60xs strong {
    font-size: 6rem;
  }
  .c-title.text60xs small {
    font-size: 5rem;
  }
  .c-title.text64xs strong {
    font-size: 6.4rem;
  }
  .c-title.text64xs small {
    font-size: 5.4rem;
  }
  .c-description {
    font-size: 1.4rem;
  }
  .c-dl:not(.c-dl--gray) dt {
    width: 100%;
    max-width: unset;
    padding-bottom: 0;
    border-bottom: 0;
    text-align: left;
  }
  .c-dl:not(.c-dl--gray) dd {
    width: 100%;
    padding-top: 10px;
  }
  .c-dl-2 dt, .c-dl-2 dd {
    padding: 20px 5px;
    font-size: 1.2rem;
  }
  .c-dl-2 dt {
    width: 150px;
    max-width: 200px;
  }
  .c-dl-2 dd {
    width: calc(100% - 150px);
    padding-left: 0;
  }
}