@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
:root {
  --font-yu: Yu Gothic;
  --font-mei: Meiryo;
  --font-ar: A-OTF-R;
  --font-am: A-OTF-M;
  --font-gr: G-OTF-R;
  --font-default: Yu Gothic;
  --font-weight-default: bold;
  --color-default: #111111;
  --color-main: #8EAC65;
  --color-white: white;
  --color-black: #111111;
  --color-gray: #707070;
  --color-gray2: #CCCCCC;
  --color-green: #8EAC65;
  --color-blue: #065B8E;
  --color-red: #D90000;
  --color-orange: #FC7316;
  --color-yellow: #FFCD20;
  --transition-default: 0.5s;
}

.l-container {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-full {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1800 {
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1760 {
  max-width: 1760px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1720 {
  max-width: 1720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1630 {
  max-width: 1630px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1600 {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1550 {
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1520 {
  max-width: 1520px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1500 {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1480 {
  max-width: 1480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1450 {
  max-width: 1450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1430 {
  max-width: 1430px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1380 {
  max-width: 1380px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1370 {
  max-width: 1370px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1360 {
  max-width: 1360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1340 {
  max-width: 1340px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1300 {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1280 {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1200 {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1180 {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1120 {
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1100 {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-1000 {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-980 {
  max-width: 980px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-960 {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-920 {
  max-width: 920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-680 {
  max-width: 680px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-590 {
  max-width: 590px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-540 {
  max-width: 540px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-container-460 {
  max-width: 460px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.l-contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.l-flex {
  display: flex;
  flex-wrap: wrap;
}

.l-wrapper {
  width: 100%;
  overflow: auto;
}

.bg {
  width: 100%;
  min-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
}
.bg-img-cover {
  background-size: cover;
}
.bg-img-contain {
  background-size: contain;
}
.bg-img-top {
  background-position: top;
}
.bg-img-bottom {
  background-position: bottom;
}

.img {
  height: 100%;
}
.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.img-top {
  -o-object-position: top center;
     object-position: top center;
}
.img-bottom {
  -o-object-position: bottom center;
     object-position: bottom center;
}

.parallax {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.parallax-bg {
  min-height: 1000px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.parallax__container {
  position: absolute;
  clip: rect(0px, auto, auto, 0px);
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: -10;
}

.c-box {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.c-box2 {
  padding: 40px;
  border: 1px solid val(--color-gray2);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

/* title */
.c-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 1.8;
  align-items: center;
  font-family: var(--font-default);
  position: relative;
}
.c-title strong {
  font-size: var(--title-strong, 3.4rem);
  font-weight: var(--font-weight-default);
  line-height: 1.4;
}
.c-title small {
  font-size: var(--title-small, 2.4rem);
}
.c-title b {
  color: var(--color-main);
}
.c-title i {
  margin-right: 10px;
}
.c-title.border-bottom {
  padding-bottom: 20px;
  border-bottom: var(--border-width, 1px) solid;
}
.c-title.border-bottom.border-md {
  --border-width: 2px;
}
.c-title.border-bottom.border-lg {
  --border-width: 3px;
}
.c-title.border-short {
  border: 0 !important;
  position: relative;
}
.c-title.border-short::after {
  content: "";
  width: var(--border-width, 60px);
  height: var(--border-height, 1px);
  background: var(--color-default);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.c-title.border-short.border-top {
  padding-top: 20px;
}
.c-title.border-short.border-top::after {
  top: 0;
}
.c-title.border-short.border-bottom {
  padding-bottom: 20px;
}
.c-title.border-short.border-bottom::after {
  bottom: 0;
}
.c-title.border-short.border-hlg {
  --border-height: 2px;
}
.c-title.border-short.border-sm {
  --border-width: 20px;
}
.c-title.border-short.border-md {
  --border-width: 30px;
}
.c-title.border-short.border-lg {
  --border-width: 60px;
}
.c-title.border-left {
  padding-left: 20px;
}
.c-title.border-left::after {
  content: "";
  width: var(--border-width, 1px);
  height: var(--border-height, 100%);
  background: var(--color-default);
  position: absolute;
  left: 0;
  top: var(--border-top, 0);
}
.c-title.border-left.border-md {
  --border-width: 2px;
}
.c-title.border-left.border-lg {
  --border-width: 5px;
}
.c-title.border-left.border-h25 {
  --border-height: 25px;
  --border-top: 8px;
}
.c-title.border-left.border-h35 {
  --border-height: 35px;
  --border-top: 5px;
}
.c-title.border-left.border-h45 {
  --border-height: 45px;
}
.c-title.border-lr {
  padding-left: 50px;
  padding-right: 50px;
}
.c-title.border-lr::after, .c-title.border-lr::before {
  content: "";
  width: 40px;
  height: var(--border-height, 1px);
  background: var(--color-black);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.c-title.border-lr::after {
  left: 0;
}
.c-title.border-lr::before {
  right: 0;
}
.c-title.border-lr.border-md {
  --border-height: 2px;
}
.c-title.border-lr.border-lg {
  --border-height: 3px;
}
.c-title.border-lr.rotate::after, .c-title.border-lr.rotate::before {
  width: var(--border-width, 1px);
  height: var(--border-height, 30px);
  bottom: 6px;
}
.c-title.border-lr.rotate::after {
  left: -20px;
  transform: rotate(-45deg);
}
.c-title.border-lr.rotate::before {
  right: -20px;
  transform: rotate(45deg);
}
.c-title.border-lr.rotate.border-md {
  --border-width: 2px;
  --border-height: 30px;
}
.c-title.border-lr.rotate.border-lg {
  --border-width: 3px;
  --border-height: 30px;
}
.c-title.title-center {
  flex-direction: column;
  text-align: center;
}
.c-title.title-column {
  flex-direction: column;
  align-items: flex-start;
}
.c-title.title-subtitle {
  align-items: baseline;
}
.c-title.title-subtitle:not(.flex-column) .c-subtitle {
  margin-left: 10px;
}
.c-title.u-square {
  padding-left: var(--square-padding-left, 20px) !important;
  position: relative;
}
.c-title.u-square::before {
  content: "";
  width: var(--square-width, 10px);
  height: var(--square-height, 10px);
  background: var(--color-main);
  position: absolute;
  top: var(--square-top, 20px);
  left: 0;
}
.c-title.u-square.square-md {
  --square-width: 15px;
  --square-height: 15px;
  --square-padding-left: 25px;
  --square-top: 18px;
}
.c-title.u-square.square-lg {
  --square-width: 20px;
  --square-height: 20px;
  --square-padding-left: 30px;
  --square-top: 14px;
}
.c-title.u-line {
  padding-left: var(--line-padding-left, 10px);
  position: relative;
}
.c-title.u-line::before {
  content: "";
  width: var(--line-width, 10px);
  height: 1px;
  background: #cccccc;
  position: absolute;
  left: 0;
}
.c-title.u-line.line-sm {
  --line-width: 10px;
  --line-padding-left: 20px;
}
.c-title.u-line.line-md {
  --line-width: 20px;
  --line-padding-left: 30px;
}
.c-title.u-line.line-lg {
  --line-width: 50px;
  --line-padding-left: 60px;
}
.c-title.u-line.line-top {
  --line-padding-left: 0;
}
.c-title.u-line.line-top::before {
  top: 0;
}
.c-title.u-line.line-center::before {
  top: 50%;
}
.c-title.u-line.line-bottom::before {
  bottom: 20%;
}
.c-title.u-line.line-right {
  --line-padding-left: 0;
  padding-right: var(--line-padding-right, 10px);
}
.c-title.u-line.line-right::before {
  left: unset;
  right: 0;
}
.c-title.u-line.line-right.line-sm {
  --line-padding-right: 20px;
}
.c-title.u-line.line-right.line-md {
  --line-padding-right: 30px;
}
.c-title.u-line.line-right.line-lg {
  --line-padding-right: 60px;
}
.c-title.text10 {
  --title-strong: 1rem;
  --title-small: 0.8rem;
}
.c-title.text12 {
  --title-strong: 1.2rem;
  --title-small: 1rem;
}
.c-title.text13 {
  --title-strong: 1.3rem;
  --title-small: 1rem;
}
.c-title.text14 {
  --title-strong: 1.4rem;
  --title-small: 1rem;
}
.c-title.text15 {
  --title-strong: 1.5rem;
  --title-small: 1rem;
}
.c-title.text16 {
  --title-strong: 1.6rem;
  --title-small: 1rem;
}
.c-title.text18 {
  --title-strong: 1.8rem;
  --title-small: 1rem;
}
.c-title.text20 {
  --title-strong: 2rem;
  --title-small: 1rem;
}
.c-title.text22 {
  --title-strong: 2.2rem;
  --title-small: 1.2rem;
}
.c-title.text24 {
  --title-strong: 2.4rem;
  --title-small: 1.4rem;
}
.c-title.text28 {
  --title-strong: 2.8rem;
  --title-small: 1.8rem;
}
.c-title.text30 {
  --title-strong: 3rem;
  --title-small: 2rem;
}
.c-title.text32 {
  --title-strong: 3.2rem;
  --title-small: 2.2rem;
}
.c-title.text34 {
  --title-strong: 3.4rem;
  --title-small: 2.4rem;
}
.c-title.text36 {
  --title-strong: 3.6rem;
  --title-small: 2.6rem;
}
.c-title.text38 {
  --title-strong: 3.8rem;
  --title-small: 2.8rem;
}
.c-title.text40 {
  --title-strong: 4rem;
  --title-small: 3rem;
}
.c-title.text42 {
  --title-strong: 4.2rem;
  --title-small: 3.2rem;
}
.c-title.text44 {
  --title-strong: 4.4rem;
  --title-small: 3.4rem;
}
.c-title.text46 {
  --title-strong: 4.6rem;
  --title-small: 3.6rem;
}
.c-title.text48 {
  --title-strong: 4.8rem;
  --title-small: 3.8rem;
}
.c-title.text50 {
  --title-strong: 5rem;
  --title-small: 4rem;
}
.c-title.text52 {
  --title-strong: 5.2rem;
  --title-small: 4.2rem;
}
.c-title.text54 {
  --title-strong: 5.4rem;
  --title-small: 4.4rem;
}
.c-title.text58 {
  --title-strong: 5.8rem;
  --title-small: 4.8rem;
}
.c-title.text60 {
  --title-strong: 6rem;
  --title-small: 5rem;
}
.c-title.text64 {
  --title-strong: 6.4rem;
  --title-small: 5.4rem;
}
.c-title.text72 {
  --title-strong: 7.2rem;
  --title-small: 5.2rem;
}
.c-title.text82 {
  --title-strong: 8.2rem;
  --title-small: 6.2rem;
}
.c-title.text96 {
  --title-strong: 9.6rem;
  --title-small: 7.6rem;
}

.c-subtitle {
  font-size: 1.3rem;
  font-weight: var(--font-weight-default);
  line-height: 1.4;
  font-family: var(--font-default);
  color: #cccccc;
}
.c-subtitle.subtitle-line {
  padding-left: var(--line-padding-left, 10px);
  position: relative;
}
.c-subtitle.subtitle-line::before {
  content: "";
  width: var(--line-width, 10px);
  height: 1px;
  background: #cccccc;
  position: absolute;
  left: 0;
}
.c-subtitle.subtitle-line-sm {
  --line-padding-left: 20px;
}
.c-subtitle.subtitle-line-md {
  --line-width: 20px;
  --line-padding-left: 30px;
}
.c-subtitle.subtitle-line-lg {
  --line-width: 50px;
  --line-padding-left: 60px;
}
.c-subtitle.subtitle-line-top {
  --line-padding-left: 0;
}
.c-subtitle.subtitle-line-top::before {
  top: 0;
}
.c-subtitle.subtitle-line-center::before {
  top: 50%;
}
.c-subtitle.subtitle-line-bottom::before {
  bottom: 20%;
}
.c-subtitle.subtitle-line-right {
  --line-padding-left: 0;
  padding-right: var(--padding-right, 10px);
}
.c-subtitle.subtitle-line-right.subtitle-line-sm {
  --padding-right: 20px;
}
.c-subtitle.subtitle-line-right.subtitle-line-md {
  --padding-right: 30px;
}
.c-subtitle.subtitle-line-right.subtitle-line-lg {
  --padding-right: 60px;
}

.l-titles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.u-circle {
  position: relative;
}
.u-circle::after {
  content: "";
  width: var(--circle-width, 5px);
  height: var(--circle-height, 5px);
  border-radius: 10px;
  background: var(--color-main);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.u-circle.circle-sm {
  --circle-width: 4px;
  --circle-height: 4px;
}
.u-circle.circle-lg {
  --circle-width: 10px;
  --circle-height: 10px;
}

.u-highlight {
  padding-bottom: 5px;
  background-image: linear-gradient(var(--color-main), var(--color-main));
  background-position: 0 100%;
  background-size: var(--background-size, 100% 1px);
  background-repeat: no-repeat;
}
.u-highlight.highlight-md {
  --background-size: 100% 3px;
}
.u-highlight.highlight-lg {
  --background-size: 100% 6px;
}
.u-highlight.highlight-10 {
  background-size: 100% 10px;
}
.u-highlight.highlight-spill {
  margin-left: var(--margin-left, -10px);
  margin-right: var(--margin-right, -10px);
  padding-left: var(--padding-left, 10px);
  padding-right: var(--padding-right, 10px);
}
.u-highlight.highlight-spill-sm {
  --margin-left: -5px;
  --margin-right: -5px;
  --padding-left: 5px;
  --padding-right: 5px;
}
.u-highlight.highlight-spill-md {
  --margin-left: -30px;
  --margin-right: -30px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.u-highlight.highlight-spill-2 {
  --margin-left: -2px;
  --margin-right: -2px;
  --padding-left: 2px;
  --padding-right: 2px;
}
.u-highlight.highlight-position-80 {
  background-position-y: 80%;
}

.maxline {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: val(--line, 1);
  overflow: hidden;
}
.maxline-2 {
  --line: 2;
}
.maxline-3 {
  --line: 3;
}
.maxline-4 {
  --line: 4;
}
.maxline-5 {
  --line: 5;
}

/* end title */
/* description */
.c-description {
  width: 100%;
  line-height: 1.8;
}
.c-description p {
  line-height: 1.8;
}
.c-description p:last-child {
  margin-bottom: 0;
}

/* end description */
/* blockquote */
.c-blockquote {
  line-height: 1.8;
  font-family: var(--font-default);
}
.c-blockquote p {
  line-height: 1.8;
}
.c-blockquote p:last-child {
  margin-bottom: 0;
}
.c-blockquote footer {
  margin-top: 10px;
}
.c-blockquote.blockquote-bg {
  padding: 20px;
  background: #f8f9fa;
}

/* end blockquote */
/* button */
.c-button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 10px 15px;
  background: var(--background);
  font-size: 1.6rem;
  font-weight: var(--font-weight-default);
  line-height: 1.4;
  color: var(--color);
  transition: var(--transition-default);
}
.c-button img {
  margin-right: 10px;
  transition: var(--transition-default);
}
.c-button i {
  margin-right: 10px;
  transition: var(--transition-default);
}
.c-button span {
  margin-top: 4px;
}
.c-button:not(.buttonopacity):hover {
  border: 1px solid;
  background: var(--hover-background);
  color: var(--hover-color);
}
.c-button.button-black {
  --background: var(--color-black);
  --color: var(--color-white);
  --hover-color: var(--color-black);
}
.c-button.button-blue {
  --background: var(--color-blue);
  --color: var(--color-white);
  --hover-color: var(--color-blue);
}
.c-button.button-green {
  --background: var(--color-green);
  --color: var(--color-white);
  --hover-color: var(--color-green);
}
.c-button.button-orange {
  --background: var(--color-orange);
  --color: var(--color-white);
  --hover-color: var(--color-orange);
}
.c-button.button-yellow {
  --background: var(--color-yellow);
  --color: var(--color-white);
  --hover-color: var(--color-yellow);
}
.c-button.button-red {
  --background: var(--color-red);
  --color: var(--color-white);
  --hover-color: var(--color-red);
}
.c-button.button-white {
  border: 1px solid;
  --background: var(--color-white);
  --color: var(--color-black);
}
.c-button.button-outline {
  border: 1px solid;
  --background: var(--color-white);
}
.c-button.button-outline.button-md {
  border-width: 2px;
}
.c-button.button-outline.button-black {
  --color: var(--color-black);
}
.c-button.button-outline.button-blue {
  --color: var(--color-blue);
}
.c-button.button-outline.button-green {
  --color: var(--color-green);
}
.c-button.button-outline.button-orange {
  --color: var(--color-orange);
}
.c-button.button-outline.button-yellow {
  --color: var(--color-yellow);
}
.c-button.button-outline.button-red {
  --color: var(--color-red);
}
.c-button.button-outline.button-white {
  --color: var(--color-black);
}
.c-button.button-outline:not(.button-opacity):hover {
  border-color: var(--border-color);
  background: var(--hover-background);
  color: var(--color-white);
}
.c-button.button-outline:not(.button-opacity):hover.button-black {
  --border-color: var(--color-green);
  --hover-background: var(--color-green);
}
.c-button.button-outline:not(.button-opacity):hover.button-blue {
  --border-color: var(--color-blue);
  --hover-background: var(--color-blue);
}
.c-button.button-outline:not(.button-opacity):hover.button-green {
  --border-color: var(--color-green);
  --hover-background: var(--color-green);
}
.c-button.button-outline:not(.button-opacity):hover.button-orange {
  --border-color: var(--color-orange);
  --hover-background: var(--color-orange);
}
.c-button.button-outline:not(.button-opacity):hover.button-yellow {
  --border-color: var(--color-yellow);
  --hover-background: var(--color-yellow);
}
.c-button.button-outline:not(.button-opacity):hover.button-red {
  --border-color: var(--color-red);
  --hover-background: var(--color-red);
}
.c-button.button-outline:not(.button-opacity):hover.button-white {
  --border-color: var(--color-black);
  --hover-background: var(--color-black);
}
.c-button.button-opacity:hover {
  opacity: 0.5;
}
.c-button.button-border-bottom {
  border: 0 !important;
  border-bottom: 1px solid #cccccc !important;
}
.c-button.button-border-bottom i {
  width: 12px;
  height: 20px;
  margin-right: 14px;
}
.c-button.button-border-bottom:not(.button-opacity):hover {
  color: var(--color-blue);
  border-color: var(--color-blue) !important;
}
.c-button:not(.button-opacity):hover .c-icon.ic-arrow-right-black-2 {
  background-image: url("../img/common/ic-arrow-right-blue.svg");
}
.c-button:not(.button-opacity):hover .c-icon.ic-arrow-circle-blue-2 {
  background-image: url("../img/common/ic-arrow-circle-2.svg");
}
.c-button:not(.button-opacity):hover .c-icon.ic-cursor {
  background-image: url("../img/common/ic-cursor-green.svg");
}
.c-button:not(.button-opacity):hover .c-icon.ic-cursor-green {
  background-image: url("../img/common/ic-cursor.svg");
}
.c-button:not(.button-opacity):hover .c-icon.ic-cart-orange {
  background-image: url("../img/common/ic-cart.svg");
}
.c-button.button-maxwidth {
  width: min(100%, var(--max-width, 260px)) !important;
}
.c-button.button-maxwidth-280 {
  --max-width: 280px;
}
.c-button.button-maxwidth-300 {
  --max-width: 300px;
}
.c-button.button-maxwidth-330 {
  --max-width: 330px;
}
.c-button.button-maxwidth-450 {
  --max-width: 450px;
}

.c-gr-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.c-gr-button.gr-button-full {
  width: 100%;
}
.c-gr-button.gr-button-auto {
  width: -moz-max-content;
  width: max-content;
}
.c-gr-button .c-button {
  min-width: 260px;
  flex: 1;
}
.c-gr-button .c-button:not(:last-child) {
  margin-right: 20px;
}

.c-showmore {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  line-height: 1.8;
  position: relative;
  transition: var(--transition-default);
}
.c-showmore.icon-left {
  padding-left: 35px;
}
.c-showmore.icon-left::before {
  content: "";
  width: 22px;
  height: 22px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/common/ic-arrow-circle-black.svg");
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: var(--transition-default);
}
.c-showmore.icon-right {
  align-items: center;
}
.c-showmore.icon-right i {
  width: 38px;
  height: 8px;
  margin-left: 12px;
  transition: var(--transition-default);
}
.c-showmore.opacity:hover {
  opacity: 0.5;
}
.c-showmore:not(.opacity):hover .c-icon.ic-arrowlong-right-blue {
  background-image: url("../img/common/ic-arrowlong-right-black.svg");
}
.c-showmore:not(.opacity):hover.showmore-animation .c-icon {
  animation: arrow_hover 1s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite;
}

@keyframes arrow_hover {
  0% {
    transform: translate(10px);
  }
  to {
    transform: translate(0);
  }
}
/* end button */
/* collapsible */
.c-collapsible {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.c-collapsible > .header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.c-collapsible > .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.c-collapsible:not(.unhide) > .content {
  display: none;
}
.c-collapsible.show > .content {
  display: flex;
}
.c-collapsible:not(:last-child) {
  margin-bottom: 100px;
}

/* end collapsible */
/* icon */
.c-icon {
  width: var(--width, 20px);
  height: var(--height, 20px);
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.c-icon .icon-sm {
  --width: 15px;
  --height: 15px;
}
.c-icon .icon-lg {
  width: 30px;
  height: 30px;
}
.c-icon .icon-40 {
  --width: 40px;
  --height: 40px;
}
.c-icon .icon-50 {
  --width: 50px;
  --height: 50px;
}
.c-icon .icon-60 {
  --width: 60px;
  --height: 60px;
}
.c-icon.ic-arrow-circle {
  background-image: url("../img/common/ic-arrow-circle.svg");
}
.c-icon.ic-arrow-circle-black {
  background-image: url("../img/common/ic-arrow-circle-black.svg");
}
.c-icon.ic-arrow-circle-2 {
  background-image: url("../img/common/ic-arrow-circle-2.svg");
}
.c-icon.ic-arrow-circle-black-2 {
  background-image: url("../img/common/ic-arrow-circle-black-2.svg");
}
.c-icon.ic-arrow-circle-blue-2 {
  background-image: url("../img/common/ic-arrow-circle-blue-2.svg");
}
.c-icon.ic-arrow-left-black {
  background-image: url("../img/common/ic-arrow-left-black.svg");
}
.c-icon.ic-arrow-right-black {
  background-image: url("../img/common/ic-arrow-right-black.svg");
}
.c-icon.ic-arrow-right-black-2 {
  background-image: url("../img/common/ic-arrow-right-black-2.svg");
}
.c-icon.ic-arrow-right-blue-2 {
  background-image: url("../img/common/ic-arrow-right-blue.svg");
}
.c-icon.ic-arrowlong-right {
  background-image: url("../img/common/ic-arrowlong-right.svg");
}
.c-icon.ic-arrowlong-right-black {
  background-image: url("../img/common/ic-arrowlong-right-black.svg");
}
.c-icon.ic-arrowlong-right-gray {
  background-image: url("../img/common/ic-arrowlong-right-gray.svg");
}
.c-icon.ic-arrowlong-right-blue {
  background-image: url("../img/common/ic-arrowlong-right-blue.svg");
}
.c-icon.ic-arrowlong-right-blue-2 {
  background-image: url("../img/common/ic-arrowlong-right-blue-2.svg");
}
.c-icon.ic-arrowshort-right {
  background-image: url("../img/common/ic-arrowshort-right.svg");
}
.c-icon.ic-arrow-down {
  background-image: url("../img/common/ic-arrow-down.svg");
}
.c-icon.ic-btn-prev {
  background-image: url("../img/common/ic-btn-prev.svg");
}
.c-icon.ic-btn-next {
  background-image: url("../img/common/ic-btn-next.svg");
}
.c-icon.ic-btn-prev-2 {
  background-image: url("../img/common/ic-btn-prev-2.svg");
}
.c-icon.ic-btn-next-2 {
  background-image: url("../img/common/ic-btn-next-2.svg");
}
.c-icon.ic-btn-prev-3 {
  background-image: url("../img/common/ic-btn-prev-3.svg");
}
.c-icon.ic-btn-next-3 {
  background-image: url("../img/common/ic-btn-next-3.svg");
}
.c-icon.ic-phone {
  background-image: url("../img/common/ic-phone.svg");
}
.c-icon.ic-phone-green {
  background-image: url("../img/common/ic-phone-green.svg");
}
.c-icon.ic-email {
  background-image: url("../img/common/ic-email.svg");
}
.c-icon.ic-email-blue {
  background-image: url("../img/common/ic-email-blue.svg");
}
.c-icon.ic-map {
  background-image: url("../img/common/ic-map.svg");
}
.c-icon.ic-map-green {
  background-image: url("../img/common/ic-map-green.svg");
}
.c-icon.ic-cursor {
  background-image: url("../img/common/ic-cursor.svg");
}
.c-icon.ic-cursor-black {
  background-image: url("../img/common/ic-cursor-black.svg");
}
.c-icon.ic-cursor-blue {
  background-image: url("../img/common/ic-cursor-blue.svg");
}
.c-icon.ic-cursor-green {
  background-image: url("../img/common/ic-cursor-green.svg");
}
.c-icon.ic-info-circle-black {
  background-image: url("../img/common/ic-info-circle.svg");
}
.c-icon.ic-cart {
  background-image: url("../img/common/ic-cart.svg");
}
.c-icon.ic-cart-orange {
  background-image: url("../img/common/ic-cart-orange.svg");
}
.c-icon.ic-file {
  background-image: url("../img/common/ic-file.svg");
}
.c-icon.ic-print {
  background-image: url("../img/common/ic-print.svg");
}
.c-icon.ic-printer {
  background-image: url("../img/common/ic-printer.svg");
}
.c-icon.ic-time {
  background-image: url("../img/common/ic-time.svg");
}
.c-icon.ic-car {
  background-image: url("../img/common/ic-car.svg");
}
.c-icon.ic-driver {
  background-image: url("../img/common/ic-driver.svg");
}
.c-icon.ic-money {
  background-image: url("../img/common/ic-money.svg");
}
.c-icon.ic-user {
  background-image: url("../img/common/ic-user.svg");
}
.c-icon.ic-facebook {
  background-image: url("../img/common/ic-facebook.svg");
}
.c-icon.ic-instagram {
  background-image: url("../img/common/ic-instagram3.svg");
}
.c-icon.ic-instagram {
  background-image: url("../img/common/ic-instagram.svg");
}
.c-icon.ic-instagram-black {
  background-image: url("../img/common/ic-instagram-black.svg");
}
.c-icon.ic-instagram-blue {
  background-image: url("../img/common/ic-instagram-blue.svg");
}
.c-icon.ic-instagram-green {
  background-image: url("../img/common/ic-instagram-green.svg");
}
.c-icon.ic-twitter {
  background-image: url("../img/common/ic-twitter.svg");
}
.c-icon.ic-youtube {
  background-image: url("../img/common/ic-youtube.svg");
}
.c-icon.ic-logo {
  background-image: url("../img/common/logo.svg");
}

/* end icon */
/* sclore */
.c-sclore .sclore-y {
  max-width: 35px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}
.c-sclore .sclore-y div {
  width: 1px;
  height: 172px;
  display: block;
  background: white;
}
.c-sclore .sclore-y span {
  width: 2px;
  height: 20px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  /* padding-left: 13px; */
  background: #c71c20;
  text-align: center;
  animation: aniSclore 1.5s infinite;
}
.c-sclore .sclore-y p {
  margin-top: 17px;
  margin-left: -6px;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  transform: rotate(90deg);
  z-index: 99;
}

@keyframes aniSclore {
  0% {
    transform: rotate(0deg) translate(0, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translate(0, 127px);
    opacity: 1;
  }
}
.l-sclore {
  position: absolute;
  right: 50px;
  bottom: 0;
  z-index: 100;
}

/* end sclore */
/* table */
.c-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.c-table th,
.c-table td {
  height: 80px;
  padding: 16px 5px;
  font-size: 1.5rem;
  vertical-align: middle;
}
.c-table th span,
.c-table td span {
  font-size: 1.3rem;
}
.c-table.height th,
.c-table.height td {
  height: val(--height);
}
.c-table.height93 {
  --height: 93px;
}
.c-table.height0 {
  --height: auto;
}
.c-table.th-maxwidth th {
  width: 200px;
  max-width: 200px;
}
.c-table.th-left th {
  text-align: left;
}
.c-table.th-bg th {
  background: rgba(238, 238, 238, 0.5);
}
.c-table.th-bgblue th {
  background: rgba(3, 77, 143, 0.1);
}
.c-table.th-cl th {
  color: var(--color-main);
}
.c-table.th-clblue th {
  color: var(--color-blue);
}
.c-table.th-bold thead .th,
.c-table.th-bold tbody .th {
  font-weight: bold;
}
.c-table.td-maxwidth td {
  width: 330px;
  max-width: 330px;
}
.c-table.td-center td {
  text-align: center;
}
.c-table.td-bg td {
  background: rgba(238, 238, 238, 0.5);
}
.c-table.td-cl td {
  color: var(--color-gray);
}
.c-table.thead-bg thead th {
  background: var(--color-main);
  color: white;
}
.c-table.thead-box thead th {
  padding-bottom: 48px;
  background: 0 0;
  color: white;
}
.c-table.thead-box thead th::before {
  height: calc(100% - 34px);
  border-radius: 3px;
  background: var(--color-main);
  top: 0;
  bottom: unset;
  z-index: -1;
}
.c-table.tbody-even-bg tr:nth-child(even) td {
  background: rgba(238, 238, 238, 0.5);
}
.c-table.tbody-even-bg20 tr:nth-child(even) td {
  background: rgba(238, 238, 238, 0.2);
}
.c-table.boder {
  border: 1px solid var(--color-gray);
}
.c-table.boder th,
.c-table.boder td {
  border: 1px solid var(--color-gray);
}
.c-table.boder-bottom th,
.c-table.boder-bottom td {
  position: relative;
}
.c-table.boder-bottom th::before,
.c-table.boder-bottom td::before {
  content: "";
  width: calc(100% - 20px);
  left: 50%;
  height: 1px;
  background: var(--color-default);
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
}
.c-table.boder-bottom th::before {
  background: var(--color-main);
}
.c-table .u-min-width {
  min-width: 120px;
}
.c-table .u-max-width {
  max-width: 120px;
}

/* end table *//*# sourceMappingURL=template.css.map */